@{
    ViewData["Title"] = "Home Page";
}

<form class="login-form">
    <label for="userId">User ID:</label>
    <input type="text" id="userId" name="userId" required>

    <input type="submit" value="Submit" class="btn" onclick="generatePassword(event)">
</form>

<div id="passwordOperationsContainer" class="hide">
    <form id="passwordForm">
        <span id="confirmedUserId"></span>

        <label for="userId">Password:</label>

        <input type="text" id="password" name="password">

        <input type="submit" value="Submit" class="btn" onclick="checkPassword(event)">
    </form>

    <div id="passwordContainer">
        <span id="generatedPassword"></span> <span id="timer"></span>
    </div>

    <button class="btn" onclick="generatePassword(event)">Regenerate password</button>
    <button class="btn" onclick="goToUserSelection()">Back to user selection</button>
</div>

<div id="modalContainer" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="message"></p>
    </div>
</div>